<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBhN7qx7qlDJAXBzJCydgw2DNBbASj88PA</string>
	<key>GCM_SENDER_ID</key>
	<string>341378575671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vendorApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>repair-guru-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>repair-guru-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341378575671:ios:e4522fe231cb2b2d1d7eb2</string>
</dict>
</plist>